<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Singer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <br>
        <div class="row form-group  justify-content-center">
            <div class="col-6">
                <h2 class="text-center">Update Singer <%=singer.name%></h2>
            </div>
        </div>
        <div class="row form-group  justify-content-center">
            <div class="col-6">
                <form action="/update/<%=singer._id%>" method="POST">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name" value="<%=singer.name%>">
                    </div>
                    <div class="form-group">
                        <label for="">Link</label>
                        <input type="text" name="link" class="form-control" placeholder="Link" value="<%=singer.link%>">
                    </div>
                    <div class="form-group">
                        <label for="">Avatar</label>
                        <input type="text" name="avatar" value="<%=singer.avatar%>" class="form-control"
                            placeholder="Avatar">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>